<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="container-xxl my-md-4 bd-layout">
        <main style="padding: 5px;">
          <h1 style="font-size: 100PX;">Reelhum</h1>
          <h2>Login</h2>
          <form id="form_login" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="nomeusuario" class="col-form-label">User Name ou e-mail:</label>
              <input  name="nomeusuario" class="form-control" type="text" id="nomeusuario" placeholder="João Aquino Mota / JAquinoMota@gmail.com" required>
            </div>
            <div class="mb-3">
              <label for="senha" class="col-form-label">Senha:</label>
              <input  name="senha" class="form-control" type="password" id="senha" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a  href="{% url 'cadastro' %}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cadastro</a>
          <button form="form_login" type="submit" class="btn btn-primary">Login</button>
        </div>
        </main>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
</body>
</html>